<!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <p>use this site to get weather report.</p>
        <form>
            <input type="text" name="location" id="location" placeholder="location"/>
            <button>search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js" type="text/javascript"></script>
</body>

</html>